<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p><span>Model: </span><span th:text="${user.getName()}">VALUE</span></p>
<p><span>ID: </span><span th:text="${user.getId()}">VALUE</span></p>
<p><span>Lastname: </span><span th:text="${user.getLastname()}">VALUE</span></p>
<p><span>Age: </span><span th:text="${user.getAge()}">VALUE</span></p>
</div>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<form th:action="@{/users/{id}/edit(id=${user.getId()})}" method="get">
    <button type="submit">Edit</button>
</form>

<form action="/users/index" method="get">
    <button type="submit">Back</button>
</form>

</body>
</html>